.rocket__container {
    // height: max-content;
    font-weight: 600;
    background-color: var(--black);

    .rocket__text {
        bottom: 50%;
        background-color: transparent;
        h1 {
            font: 100px/85px D-DIN-Bold, Arial, Verdana, sans-serif;
            font-weight: 900;
        }
    }
    .rocket__header {
        img {
            height: 969px;
        }
    }

    h1 {
        font-weight: 900;
    }
    span {
        color: gray;
    }
    tr {
        color: white;
    }
    tr:first-child {
        border-top: hidden;
    }
    td:nth-child(odd) {
        text-align: start;
    }
    td {
        text-align: end;
        border-bottom: 1px solid rgba(239, 239, 239, 0.5);
    }
}

@media (max-width: 900px) {
    .rocket__container {
        .rocket__text {
            h1 {
                font-size: 5rem;
            }
        }
    }
}
