@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");
* {
    font-family: "Quicksand", sans-serif;
    // margin: 0px;
    box-sizing: content-box;
}

#app {
    background-color: #060403;
}
