.home__container {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    .box-99 {
        grid-column: span 10;
    }

    .box-90 {
    }

    .box-93 {
    }

    .box-95 {
        grid-area: item5;
    }
}
