.navBar__burger-menu {
    // left: 330px;
    // z-index: 1;
    cursor: pointer;
}
.navBar__container {
    // position: absolute;
    // left: 100%;
    background-color: white;
    min-height: 100vh;

    a {
        color: black;
        font-weight: 900;
        margin-top: 100px;
    }
    a:hover {
        text-decoration: none;
        cursor: pointer;
    }
}
