.navBar__main-container {
    z-index: 1;
    .navBar__btn {
        display: flex;
        align-items: center;
        height: 50px;
        cursor: pointer;
        .navBar__btn-burger {
            width: 30px;
            height: 3px;
            background: #fff;
            border-radius: 5px;
            transition: all 0.5s ease-in-out;
            z-index: 1;
        }
        .navBar__btn-burger::before,
        .navBar__btn-burger::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 3px;
            background: #fff;
            border-radius: 5px;
            transition: all 0.5s ease-in-out;
        }
        .navBar__btn-burger::before {
            transform: translateY(-10px);
        }
        .navBar__btn-burger::after {
            transform: translateY(10px);
        }
        /* ANIMATION */
        .open {
            transform: translateX(-50px);
            background: transparent;
        }
        .open::before {
            transform: rotate(45deg) translate(35px, -35px);
        }
        .open::after {
            transform: rotate(-45deg) translate(35px, 35px);
        }
    }
    .navBar__rocket-name {
        // font-weight: 900;
        // text-decoration: none;
        // a {
        //     color: var(--grey);
        //     text-decoration: none;
        // }

        // a::after {
        //     content: '';
        //     display: block;
        //     width: 0;
        //     height: 2px;
        //     background: var(--grey);
        //     transition: width 0.3s ease-in-out;
        // }

        // a:hover::after {
        //     width: 100%;
        // }
    }
}
.navBar__container {
    background: var(--black);
    height: 969px;
    left: -25px;
    top: -40px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    font-weight: 900;
    text-decoration: none;

    p {
        color: white;
        font-weight: 900;
    }
    p:hover {
        text-decoration: none;
        cursor: pointer;
    }
}
.navBar__animation-right-left {
    transform: translateX(-320px);
}
