.engineTechInfo__container {
    height: max-content;
    color: var(--white);
    font-weight: 900;
    h1 {
        font-weight: 900;
    }
    tr {
        color: var(--white);
    }
    tr:first-child {
        border-top: hidden;
    }
    td:nth-child(odd) {
        text-align: start;
    }
    td {
        text-align: end;
        border-bottom: 1px solid rgba(239, 239, 239, 0.5);
    }
}
