.rocketTechInfo__rocket {
    h1,
    h5,
    tbody {
        font-weight: 900;
    }
    tr {
        color: var(--white);
    }

    .rocketTechInfo__first-table-row {
        border-top: hidden;
    }

    td {
        text-align: end;
        border-bottom: 1px solid rgba(239, 239, 239, 0.5);
    }

    td:nth-child(odd) {
        text-align: start;
    }
    td {
        text-align: end;
        border-bottom: 1px solid rgba(239, 239, 239, 0.5);
    }
}

@media (max-width: 900px) {
    .rocket__container {
        .rocket__text {
            bottom: 350px;

            h1 {
                font-size: 4rem;
            }
        }
        .rocket__desc-container {
            padding: 0px;
        }
    }
}
