.launches__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 150px 150px;
    grid-gap: 10px;

    .launches__title {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 1 / 5;
    }

    .launches__wrapper {
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        .launches__picture--title {
            background-color: var(--white);
            width: 100%;
            position: absolute;
            bottom: 0px;
            padding: 10px;
            border-radius: 5px;
        }
        p {
            color: var(--black);
            background-color: var(--white);
            margin: 0px;
        }
    }

    .box-99 {
        grid-column: span 2;
        grid-row: span 2;
    }
    .box-94 {
        grid-column: span 3;
    }
    .box-98 {
        grid-row: span 3;
    }

    .box-96 {
        grid-column: span 2;
    }
}
